body {
  height: 100%;
  margin: 0;
  background-color: aqua;
}

.container {
  background-color: azure;
  padding: 50px;
  margin: 50px auto;
}

#time {
  font-size: small;
  padding: 15px;
  text-align: end;
}

#welcome {
  text-align: center;
}

#welcomeTitle {
  padding: 20px;
}
#instruct {
  margin-bottom: 30px;
}

#question {
  text-align: center;
  margin-bottom: 30px;
}

#choiceBtns {
  justify-content: center;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
  background-color: #6c757d !important;
}

.answerButtons {
  min-width: 200px;
  margin: 10px;
}

hr {
  width: 100%;
}

#rightOrWrong {
  font-size: medium;
  font-style: italic;
}

#allDone {
  text-align: center;
}

#allDoneText {
  padding: 20px;
}

#finalScore {
  font-size: medium;
}

#userNameInput {
  margin-bottom: 20px;
}
